@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$main_font: 'Roboto';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    .navbar {
      display: flex;
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      .navbar_logo {
        .navbar_logo_text {
          margin-right: 104px;
          h2 {
            font-family: $main_font;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 27px;
            color: #000000;
          }
        }
      }
      .navbar_search {
        // position: absolute;
        width: 471px;
        height: 56px;
        background: #ffffff;
        border: 2px solid #e5e5ea;
        box-sizing: border-box;
        box-shadow: 0px 12px 24px rgba(5, 16, 55, 0.04);
        border-radius: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        transition: 0.4s;

        &:hover {
          border: 2px solid #007aff;
          transition-timing-function: ease-in;
          transition-timing-function: ease-out;
        }

        .search_icon {
          img {
            width: 24px;
            height: 24px;
            left: 0px;
            top: 0px;
            margin-left: 24px;
          }
        }
        .navbar_search_field {
          .search_bar {
            font-family: $main_font;
            font-weight: 500;
            margin-left: 12px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            outline: none;
          }
        }
      }
      .navbar_menu {
        margin-left: 121px;
        .navbar_menu_text {
          margin: 12px;
          a {
            padding: 0px 10px 0 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #000000;
            transition: 0.4s;
            text-decoration: none;
            outline: 0;
            border-bottom: solid 2px transparent;

            &:hover {
              border-bottom: 2px solid #007aff;
              transition-timing-function: ease-in;
              transition-timing-function: ease-out;
            }
          }
        }
      }
      .navbar_icons {
        display: flex;
        .spark_icon_btn {
          margin-right: 36px;

          img {
            padding: 10px;
            background: #ffffff;
            border-radius: 50%;
            border: 0.5px solid #e5e5ea;
            box-sizing: border-box;
            box-shadow: 0px 10px 20px rgba(5, 16, 55, 0.1);
            cursor: pointer;
            width: 40px;
            height: 40px;
            transition: 0.4s;

            &:hover {
              background-color: #007aff;
              transition-timing-function: ease-in;
              transition-timing-function: ease-out;
            }
          }
        }
        .navbar_btn {
          margin-right: 48px;
          button {
            font-family: $main_font;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #007aff;
            position: absolute;
            width: 151px;
            height: 47px;
            background: rgba(0, 122, 255, 0.12);
            border: 0.5px solid rgba(0, 122, 255, 0.12);
            border-radius: 33px;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
              background: #007aff;
              color: white;
              transition-timing-function: ease-in;
              transition-timing-function: ease-out;
            }
          }
        }
      }
    }

    .top_content {
      position: relative;
      display: flex;
      .top_img {
        margin-right: 23px;
        img {
          width: 889px;
          height: 490px;
          border-radius: 12px 12px 0px 0px;
        }
      }
      .top_right_content {
        width: 432px;
        height: 490px;
        background: #ffffff;
        box-shadow: 0px 18px 34px rgba(5, 16, 55, 0.15);
        border-radius: 12px;

        .top_title_content {
          margin: 36px 48px;

          .top_title {
            margin-bottom: 12px;
          }

          .top_user {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
          }
        }
      }
      .bid {
        display: flex;
        margin: 0 36px 0 34px;
        .bid_title {
          margin-bottom: 12px;
        }
        .coin {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 100%;
          color: #000000;
          margin-bottom: 8px;
        }

        .usd {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 112%;
          color: #8e8e93;
        }
        .current_bid {
          .bid_title {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #000000;
            margin-bottom: 12px;
          }
          .coin {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            color: #000000;
          }
          .usd {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 112%;
            color: #8e8e93;
          }
        }
        .bid_line {
          border-left: 2px solid #c7c7cc;
          transform: rotate(0deg);
          margin: 0px 24px;
        }
        .auction_timer {
          .auction_time {
            display: flex;
            .auc_times:not(:last-child) {
              margin: 0 20px 0 0;
            }
          }
        }
      }
      .top_btn {
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 20px 10px;
          width: 360px;
          height: 56px;
          background: #007aff;
          border-radius: 45px;
          margin: 20px 0px;
          border: transparent;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: #ffffff;
          cursor: pointer;
          transition: 0.4s;
          border: 2px solid transparent;

          &:hover {
            background: transparent;
            color: #007aff;
            border: 2px solid #007aff;
          }
        }
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          color: #007aff;
          border-bottom: 2px transparent;
          transition: all 0.4s;

          &:hover {
            border-bottom: 2px solid #007aff;
          }
        }
      }
    }
  }
}
